<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Project Title</title>
  <meta name="description" content="A project by Lucas Lind">
  <meta name="author" content="Lucas Lind">

  <link href="../assets/css/styles.css?v=1.0" rel="stylesheet">
  <link href="../assets/js/jquery.fancybox.css" rel="stylesheet" media="screen">
  <script src="../assets/js/jquery-1.11.3.min.js"></script>
  <script src="../assets/js/masonry.pkgd.min.js" ></script>
  <script src="../assets/js/imagesloaded.pkgd.js"></script>
  <script src="../assets/js/jquery.fancybox.js"></script> 
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="header">
    <h1>
     <div class="lucaslind">
        <a class="lucaslindlink" href="http://lucaslind.com">Lucas Lind</a><br><div class="about">is a designer based in NYC.</div>
      </div>
     <div class="portfolio">
        <a href="http://bit.ly/1NDOlxy" target="_blank">Portfolio (pdf)</a>
      </div>
     <div class="resume">
        <a href="http://soundcloud.com/leoemerald" target="_blank">Soundcloud</a>
     </div>
     <div class="contact">
        <a class="contactlink" href="mailto:lwlind@gmail.com">Contact</a>
        <div class="email">lwlind@gmail.com</div>
      </div>
    </h1>
  </div>
  <div class="nav">
    <a class="previous" href="../folder-name">Previous</a>
    <a class="next" href="../folder-name">Next</a>
  </div>
 <div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div class="grid-item">
    <h2>
      <p>title</p>
    </h2>
    <h3>
      <p>text</p>
    </h3>
    <h5>text <a class="underline" href="http://http://url.com/">name</a></h5>
  </div>
  <div class="grid-item">
    <a href="images/image.jpg" class="fancybox" rel="gallery" title="caption">
      <img src="images/image.jpg"></img>
    </a>
<!--     <h4>
      <p>caption</p>
    </h4> -->
  </div>
</div>

  <script>
  $(document).ready( function() {
    // init Masonry
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      gutter: '.gutter-sizer',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    });
    // layout Isotope after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
    });  

    $(".fancybox").fancybox({

    beforeShow : function() { this.title = (this.title ? '' + this.title + '' : '') + ' <span class="num">' + (this.index + 1) + ' / ' + this.group.length + ' </span>'; } // beforeShow
  }); 

   // fancybox
  });
window.onorientationchange = function() { location.reload() };

  </script>
</body>
</html>