* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body {
    font-family: Sans-Serif;
}
h1 {
    font-size: 125%;
    font-weight: bold;
    line-height: 135%;
}
h2 {
    font-size: 125%;
    font-weight: bold;
    line-height: 140%;
    margin-top: -20px;
    text-align: center;
}
h3 {
    font-size: 118%;
    font-weight: normal;
    line-height: 140%;
    text-align: left;
}
h4 {
    font-size: 118%;
    font-weight: bold;
    line-height: 140%;
    text-align: left;
    margin-top: -5px;
    margin-bottom: -5px;
}
h5 {
    font-size: 90%;
    font-weight: normal;
    line-height: 140%;
    text-align: left;
    /*margin-top: -5px;*/
    margin-bottom: -5px;
}

h5 p {
    margin-bottom: 0px;
}

.no-margin {
    margin-bottom: 0px;
}
.grid-item h1 {
    margin-top: 25px;
    margin-bottom: -8px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
sup,
sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}
video {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.header {
    width: 100%;
    margin-top: -83px;
    position: fixed;
    z-index: 1000;
    /*margin-left: 10.2%;*/
    margin-left: 4.3%;
    color: black;
    /*mix-blend-mode: difference;*/
}
.header2 {
    float: left;
    display: inline-block;
    white-space: nowrap;
}
.lucaslind {
    float: left;
    display: inline-block;
    white-space: nowrap;
    /*width: 122px;*/
}
.portfolio {
    float: left;
    display: inline-block;
    /*display: none;*/
    white-space: nowrap;    
    margin-left: 5%;
}
.resume {
    float: left;
    /*display: inline-block;*/
    display: none;
    white-space: nowrap;    
    margin-left: 5%;
}
.contact {
    float: left;
    display: inline-block;
    white-space: nowrap;    
    margin-left: 5%;
    width: 20px;
}
.about {
    display: none;
    position: fixed;
}
.lucaslindlink:hover ~ .about {
    display: block;
}
.email {
    display: none;
}
.underline {
    text-decoration: underline;
}
.underline:hover {
    text-decoration: none;
}
.contactlink:hover ~ .email {
    display: block;
}
.indent {
    margin-left: 5%;
}
.grid {
    margin-top: 95px;
    margin-right: 3.5%;
    margin-left: 4.5%;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-sizer,
.grid-item {
    width: 47%;
}
.gutter-sizer {
    width: 4.5%;
}
.grid-item {
    margin-bottom: 65px;
    text-align: left;
    float: left;
}
.grid-item img {
    max-width: 100%;
    display: block;
/*        filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);*/
    /*width:100px;*/
}
.grid-item img:hover {
    cursor: pointer;
/*    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);*/
}
a:hover ~ h1{
text-decoration: underline;
}

.book {
    -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
}
/*.book {
      box-shadow: 5px 5px 10px #808080;
}*/

.nav {
    position: fixed;
    margin-left: -35px;
    top: 50%;
    transform: translateY(-50%);
    width: 101.5%;
    font-size: 125%;
    font-weight: bold;
    line-height: 100%;
}
.previous {
    float: left;
    margin-left: 1%;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.next {
    float: right;
    margin-right: .5%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*iphone 4 and 4s*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .grid-sizer {
        width: 100%;
    }
    .grid-item {
        width: 100%;
        margin-bottom: 5%;
    }
    h1 {
        font-size: 210%;
    }
    h2 {
        font-size: 210%;
    }    
        h3 {
    	font-size: 200%
    }
    h5 {
    	font-size: 100%    	
    }
    .fancybox-title {
      font: normal 210% "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    }
    .fancybox-title-float-wrap {
      margin-top: 25px !important;
    }
    .grid-item h1 {
        margin-top: 25px;
        margin-bottom: 0px;
    }    
    .header {
        margin-top: -7em;
        margin-left: 4.5%;
    }
    .grid {
        margin-top: 120px;
        margin-right: 6.5%;
        margin-left: 6.5%;
    }
    .portfolio {
        margin-left: 5%;
    }
    .resume {
        margin-left: 5%;
    }
    .contact {
        margin-left: 5%;
    }
    .nav {
        font-size: 210%;
    }
    .previous {
        margin-left: -.5%;
    }
    .fancybox-close {
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-nav span{
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-prev span{
      background-position: 0px -70px !important;
    }
      .fancybox-next span{
      background-position: 0px -154px !important;
    }
}
/*iphone 5 and 5s*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .grid-sizer {
        width: 100%;
    }
    .grid-item {
        width: 100%;
        margin-bottom: 75px;
    }
    h1 {
        font-size: 210%;
    }
    h2 {
        font-size: 250%;
    }    
        h3 {
    	font-size: 200%
    }
    h5 {
    	font-size: 100%    	
    }
    .fancybox-title {
      font: normal 210% "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    }
    .fancybox-title-float-wrap {
      margin-top: 25px !important;
    }
    .grid-item h1 {
        margin-top: 35px;
        margin-bottom: 0px;
    }
    .header {
        margin-top: -8.5em;
        margin-left: 4.5%;
    }
    .grid {
        margin-top: 135px;
        margin-right: 7%;
        margin-left: 7%;
    }
    .portfolio {
        margin-left: 5%;
    }
    .resume {
        margin-left: 5%;
    }
    .contact {
        margin-left: 5%;
    }
    .nav {
        width: 103.5%;
        margin-left: -40px;
    }
    .previous {
        margin-left: -.5%;
    }
    .fancybox-close {
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-nav span{
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-prev span{
      background-position: 0px -70px !important;
    }
      .fancybox-next span{
      background-position: 0px -154px !important;
    }
}
/*iphone 6*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .grid-sizer {
        width: 100%;
    }
    .grid-item {
        width: 100%;
        margin-bottom: 75px;
    }
    h1 {
        font-size: 210%;
    }
    h2 {
        font-size: 210%;
    }
    h3 {
    	font-size: 200%
    }
    h5 {
    	font-size: 100%    	
    }
    .fancybox-title {
      font: normal 210% "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    }
    .fancybox-title-float-wrap {
      margin-top: 25px !important;
    }
    .grid-item h1 {
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .header {
        margin-top: -8.5em;
        margin-left: 4.5%;
    }
    .grid {
        margin-top: 135px;
        margin-right: 7%;
        margin-left: 7%;
    }
    .portfolio {
        margin-left: 5%;
    }
    .resume {
        margin-left: 5%;
    }
    .contact {
        margin-left: 5%;
    }
    .nav {
        width: 103.5%;
        margin-left: -40px;
    }
    .previous {
        margin-left: -.5%;
    }
    .fancybox-close {
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-nav span{
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-prev span{
      background-position: 0px -70px !important;
    }
      .fancybox-next span{
      background-position: 0px -154px !important;
    }
}
/*iphone 6plus*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .grid-sizer {
        width: 100%;
    }
    .grid-item {
        width: 100%;
        margin-bottom: 75px;
    }
    h1 {
        font-size: 210%;
    }
    h2 {
        font-size: 210%;
    }    
        h3 {
    	font-size: 200%
    }
    h5 {
    	font-size: 100%    	
    }
    .fancybox-title {
      font: normal 210% "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    }
    .fancybox-title-float-wrap {
      margin-top: 25px !important;
    }
    .grid-item h1 {
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .header {
        margin-top: -8.5em;
        margin-left: 4.5%;
    }
    .grid {
        margin-top: 135px;
        margin-right: 7%;
        margin-left: 7%;
    }
    .portfolio {
        margin-left: 5%;
    }
    .resume {
        margin-left: 5%;
    }
    .contact {
        margin-left: 5%;
    }
    .nav {
        width: 103.5%;
        margin-left: -40px;
    }
    .previous {
        margin-left: -.5%;
    }
    .fancybox-close {
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-nav span{
      width:100px !important;
      height:80px !important;
      background-size: cover !important;
    }
    .fancybox-prev span{
      background-position: 0px -70px !important;
    }
      .fancybox-next span{
      background-position: 0px -154px !important;
    }
}