* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow-y: scroll; 
}
html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body {
    font-family: Sans-Serif;
    margin: 0;
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: .75em;
    font-size: 1.5em;
    color: white;
}
.home {
    float: left;
    display: inline-block;
    white-space: nowrap;
}
.portfolio {
    float: left;
    display: inline-block;
    white-space: nowrap;    
    margin-left: 5%;
}
.prints {
    float: left;
    display: inline-block;
    white-space: nowrap;    
    margin-left: 5%;
}
.info {
    float: left;
    display: inline-block;
    white-space: nowrap;    
    margin-left: 5%;
}

button {
  align-items: normal;
  color: white;
  background-color: rgba(0,0,0,0);
  /*border-color: rgb(0, 0, 238);*/
  border-style: none;
  box-sizing: content-box;
  cursor: pointer;
  display: inline;
  font: inherit;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}
button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f1f1f1;*/
  min-width: 100%;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  /*color: black;*/
  padding-top: .75em;
  text-decoration: none;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {text-decoration: underline;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {text-decoration: underline;}

.arch-link {
    padding-left: 5vw;
}
.info-text a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}
.info-text a:hover{
    text-decoration: none;
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
.underline:hover {
    text-decoration: none;
    cursor: pointer;
}

.column {
  float: left;
  width: 50%;
  height: 100vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.arrow {
    position: fixed;
    bottom: .75em;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
}

.arrow img {
    height: 3em;

}
.arrow img:hover {
    cursor: pointer;
}

.info-text {
    color: white;
    font-size: 1.5em;
    padding: .75em;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
      -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Chrome, Safari, Opera */
}

.photo {
    color: white;
    font-size: 1.5em;
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    position: relative;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
  max-width: 100%;
  max-height: 100%;
}

/*#fullpage {
        -webkit-transition: all 0s ease-out !important; 
    transition: all 0s ease-out !important;
}*/

@media screen and (orientation: portrait) and (max-width: 1000px) {
  .info-column {
    width: 100% !important;
  }
  .header {
    font-size: 3em;
  }
  .info-text {
    font-size: 3em;
  }
  .arrow img {
    height: 7em;
    }
    .photo {
      transform: translate(-50%, -75%);
        -ms-transform: translate(-50%,-75%); /* IE 9 */
      -webkit-transform: translate(-50%,-75%); /* Chrome, Safari, Opera */

    }


}